<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSbanqBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wsbanq.marccollin.com/WSbanq.php" binding="basicHttpBinding"
                bindingConfiguration="WSbanqBinding" contract="WSBanqMCII.WSbanqOP"
                name="WSbanqPort" />
        </client>
    </system.serviceModel>
</configuration>